body {font-family:Verdana; padding:0; margin:0; background-color:#eee;}
br {clear:both;}
#notice {position:relative; width:800px; margin:0 auto; font-weight:bold; font-size:.7em; color:#333; text-align:right; top:16px;}
#container {width:800px; margin:0 auto; margin-top:20px; background-color:#fff; border:1px solid #aaa;}
#header {background:#eee url(../img/header.gif); border-bottom:1px solid #aaa; text-align:center; color:#444; padding:4px 0 4px;}
#content {margin:0 auto; padding:4px;}
a, a:active, a:link, a:visited {text-decoration:underline; color:#333; padding:2px;}
a:hover {text-decoration:none; color:#336699;}
p {font-size:.9em;}
h2 {color:#666; margin-bottom:4px;}
input.demo {cursor:pointer; background:url(../img/input.gif) repeat-x; border:3px double #999; border-top-color:#ccc; border-left-color:#ccc; color:#777; font-weight:bold; font-size:1.2em; margin-right:4px; width:160px;}
input.demo:hover {color:#336699;}
code {font-size:1.1em; color:maroon;}
hr {border:1px solid #e9e9e9;}

#contact-form, #basic-modal, #confirm-dialog, #osx-dialog {margin-left:8px;}